.app {
  background-color: #e6d0f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.form-content {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.form-content button {
  margin-top: 5px;
  border-radius: 3px;
  font-family: inherit;
  outline: none;
}
.error {
  font-size: 12px;
  color: #ff3f00;
}
